@model OnlineStore.Client.Models.CatalogProduct.ShoppingCartListViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Items!)
            {
                <tr>
                    <td>@Html.DisplayFor(model => product.Name)</td>
                    <td>@Html.DisplayFor(model => product.Description)</td>
                    <td>@Html.DisplayFor(model => product.Price)</td>
                    <td>@Html.DisplayFor(model => product.Quantity)</td>
                    <td>@Html.DisplayFor(model => product.Category)</td>
                    <td><button>+</button><button>-</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
